<!DOCTYPE html>
<html>
<head>
  <title>TutuExample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="container">
  <%= render "common/header"%>
    <div class="row center">
       <%= yield %>
    </div>
  <%= render "common/footer"%>
</div>




</body>
</html>
